<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/server/src/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/server/src/server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;*.js" nodeProcessCommandLine="%ProgramFiles%\nodejs\node.exe" />
  </system.webServer>
</configuration>
