# Exclude from deployment
* -export-ignore
/.git* -export-ignore
/.github -export-ignore
/node_modules -export-ignore
/server -export-ignore
/tests -export-ignore
*.md -export-ignore
.*rc -export-ignore
*.config.* -export-ignore
*.local -export-ignore
*.log -export-ignore
*.lock -export-ignore
*.pem -export-ignore
*.p12 -export-ignore
*.key -export-ignore
*.crt -export-ignore
*.cer -export-ignore
*.pfx -export-ignore
*.p7b -export-ignore
*.p7c -export-ignore
*.p7s -export-ignore
*.p8 -export-ignore
*.p8e -export-ignore
*.p10 -export-ignore
*.spc -export-ignore
*.sst -export-ignore
*.stl -export-ignore
